body{ 
    background-color: rgb(128, 214, 255) ;
	cursor: url("https://img.icons8.com/dusk/40/000000/dog-house.png"), auto;
} 
	
p{ 
  text-align: center; 
  font-size: 255%; 
  font-style: sans-serif;
  color: rgb(0, 0, 0) ;
  border: 20px single black;
 
} 

h1{
  text-align: center; 
  font-size: 430%; 
  font-style: monospace;
  color: white;
  border: 20px double black;
}

.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  padding: 5px;
}
 
.grid-item{
  background-color: rgb(128, 214, 255) ;
  border: 5px solid rgba(0, 0, 0);
  padding: 50px;
  font-size: 30px;
  text-align: center;
} 

img{
	margin-left: auto;
	margin-right: auto;
}

a href{ 
       text-align: center; 
} 	   

.item1 {
	grid-column-start: 1;
	grid-column-end: span 1;
}
.item2 {
	grid-column-start: 2;
	grid-column-end: span 1;
}
.item3 {
	grid-column-start: 3;
	grid-column-end: span 1;
}

